numpy
scipy
Pillow
cython
matplotlib
scikit-image
tensorflow-gpu==1.15.0
keras== 2.2.5
opencv-python
h5py
imgaug
# https://github.com/matterport/Mask_RCNN
# git+https://github.com/philferriere/cocoapi.git#egg=pycocotools^&subdirectory=PythonAPI